@{
    ViewBag.Title = "Administración";
}

@Html.Partial("~/Views/Shared/_Administration.cshtml")
@(Html.Kendo().Splitter()
    .Name("splitter")
    .Panes(horizontalPanes =>
    {
    horizontalPanes.Add()
            .HtmlAttributes(new { id = "left-pane" })
            .Size("50%")
            .Collapsible(true)
            .Content(@<div class="pane-content">
                @Html.Partial("_List")
            </div>);

horizontalPanes.Add()
        .HtmlAttributes(new { id = "right-pane" })
        .Collapsible(true)
        .Size("50%")
        .Content(@<div class="pane-content">
            @Html.Partial("_FormAdd")
        </div>);
    })
)


<script>
    $(document).ready(function () {
        var a = document.getElementById("li1");
        a.style.color = "#FFFFFF";
        a.style.backgroundColor = "#16568A";
        a.style.textAlign = "center";

        var a = document.getElementById("li1A");
        a.style.color = "#FFFFFF";
        a.style.backgroundColor = "#16568A";
        a.style.textAlign = "center";
        a.style.fontWeight = "bold";
        var b = document.getElementById("li2");
        b.style.textAlign = "center";
        var b = document.getElementById("li2A");
        b.style.textAlign = "center";
        var splitter = $("#splitter").data("kendoSplitter");
        splitter.collapse("#right-pane");

         $('#mnuPrincipal').hide("slow");
         $('#imgMnuShowHide').attr("src", "@Url.Content("~/Content/Images/Group_86.png")")
    });
</script>
