<label class="main-data font-weight-bold en-bloque contact slight-margin-bottom blue-header">Información del Taller</label>

<table class="table table-responsive" id="table-ods">
    <tr>
        <td> <label class="main-dataasig font-weight-bold">Nombre del taller: </label>@ViewBag.dataModule.Module</td>


    </tr>
    <tr>
        <td><label class="main-dataasig font-weight-bold"> Calle: </label>@ViewBag.dataModule.AddressStreet</td>
    </tr>
    <tr>
        <td><label class="main-dataasig font-weight-bold"> Número: </label>@ViewBag.dataModule.AddressNumber</td>
    </tr>

    <tr>
        <td><label class="main-dataasig font-weight-bold"> Colonia: </label>@ViewBag.dataModule.AddressColony</td>
    </tr>
    <tr>
        <td><label class="main-dataasig font-weight-bold"> CP: </label>@ViewBag.dataModule.AddressCP</td>
    </tr>
</table>

<label class="main-data font-weight-bold en-bloque contact slight-margin-bottom blue-header">Kilometraje Extra</label>
<table>
    <tr>
        <td> <label class="main-dataasig font-weight-bold">Kilometros Extra: </label>  @ViewBag.Kilometres Kilometros Recorridos</td>


    </tr>
</table>